.home-container {
  text-align: center;
  padding: 50px 20px;
  max-width: 1200px;
  margin: 0 auto;
}

.home-title {
  font-size: 3.8rem;
  font-weight: bold;
}

.home-subtitle {
  font-size: 1.2rem;
  color: gray;
  margin-bottom: 30px;
}

.content-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  gap: 40px;
}

.text-content {
  max-width: 500px;
  text-align: left;
}

.tag {
  display: inline-block;
  background: #007bff5e;
  color: #007bff;
  padding: 8px 12px;
  border-radius: 20px;
  font-size: 14px;
  margin: 0;
}

h2 {
  font-size: 2.8rem;
  font-weight: bold;
}

h2 img {
  margin: 0 8px;
  vertical-align: middle;
}

.highlight {
  color: #007bff;
}

.avatar-image {
  width: 150px;
  height: auto;
}

.avatar-group img {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  margin-right: 5px;
}

.avatar-group span {
  font-size: 1rem;
  font-weight: bold;
}

.description {
  font-size: 1rem;
  color: #555;
  margin: 20px 0;
}

.cta-btn {
  background: black;
  color: white;
  padding: 12px 20px;
  border: none;
  font-size: 1rem;
  border-radius: 8px;
  cursor: pointer;
  transition: background 0.3s ease;
}

.cta-btn:hover {
  background: #333;
}

.image-gallery {
  display: flex;
  gap: 20px;
}

.gallery-image {
  width: 200px;
  height: 380px;
  border-radius: 999999px;
  object-fit: cover;
  transition: transform 0.3s ease;
}

.gallery-image:nth-child(1) {
  margin-top: 80px;
}
.gallery-image:nth-child(2) {
  margin-top: 30px;
}

.gallery-image:hover {
  transform: translateY(-15px);
}

@media (max-width: 1000px) {
  .text-content {
    display: flex;
    max-width: 100%;
    flex-direction: column;
    align-content: center;
    align-items: center;
  }
}

@media (max-width: 768px) {
  .content-wrapper {
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
  }

  .gallery-image {
    margin-top: 0 !important;
  }

  .text-content {
    max-width: 90%;
  }

  .avatar-image {
    display: flex;
    justify-content: center;
  }
}
