.app-header {
  background-color: #282c34;
  padding: 10px 20px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.nav-bar {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
}

.logo {
  height: 50px;
  transition: height 0.3s ease;
}

.nav-bar a {
  color: white;
  text-decoration: none;
  padding: 10px;
}

.nav-bar a:hover {
  text-decoration: underline;
}

@media (max-width: 600px) {
  .nav-bar {
    flex-direction: column;
  }

  .nav-bar a {
    padding: 5px;
  }

  .logo {
    height: 30px;
  }
}
